<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Calculator(h)', iconSource: getIconSource('calulator')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Tips(b)', iconSource: getIconSource('browse')}"
        name="browseTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Slice(s)', iconSource: getIconSource('search')}"
        name="searchTab">
    </page-router-outlet>

</TabView>
