<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Browse"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="action-bar-title" text="Browse"></Label>
</GridLayout>

<StackLayout>
    <TextField
            [(ngModel)]="val1"
            hint="Total bill"
            (ngModelChange)="calculate()"
            keyboardType="number"
            autocorrect="false"
    ></TextField>



    <TextField
            [(ngModel)]="val2"
            hint="Enter tip %"
            (ngModelChange)="calculate()"
            keyboardType="number"
            autocorrect="false"
    ></TextField>



    <TextField
            [(ngModel)]="val3"
            hint="Enter a number of people"
            (ngModelChange)="calculate()"
            keyboardType="number"
            autocorrect="false"
    ></TextField>

    <Label [text]="result"></Label>

    <Label [text]="result1"></Label>

</StackLayout>
