<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="action-bar-title" text="Home"></Label>
</GridLayout>

<StackLayout>
    <TextField
            [(ngModel)]="val1"
            hint="Enter a number"
            (ngModelChange)="calculate()"
            keyboardType="number"
            autocorrect="false"
    ></TextField>

    <ListPicker [items]="operations" selectedIndex="0" (selectedIndexChange)="changeOperator($event)"></ListPicker>

    <TextField
            [(ngModel)]="val2"
            hint="Enter a number"
            (ngModelChange)="calculate()"
            keyboardType="number"
            autocorrect="false"
    ></TextField>
    <Label [text]="result"></Label>
</StackLayout>
